<template>
  <div class="<%= data.name  %>">

  </div>
</template>

<script>
  export default {
    name: '<% data.name %>',
    data() {
      return {
        
      }
    },
    methods: {

    },
    components: {

    },
    computed: {

    },
    created() {

    },
    mounted() {

    },
    watch: {
      
    }
  }
</script>

<style>
  .<%= data.name %> {
    
  }
</style>